@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="width:500px; height:500px;margin:10px;">
    <img src="~/images/odm_orthophoto.png" alt="Orthomosaic Image" style="height:100%;width:100%;">
    <br />
    <div class="row" style="display: flex;justify-content: space-around;">
        <input type="button" id="btnQCApprove" class="btn-custom btn btn-primary" style="background:#FF6801;border-color:#FF6801; color:White; width:77px; margin-left:14px;" value="Approve" />
        <input type="button" id="btnQCReject" class="btn-custom btn btn-primary" style="background:#FF6801;border-color:#FF6801; color:White; width:77px; margin-left:14px;" value="Reject" />
    </div>
</div>
